/* nav Bar */
#navBar1{
    background-color: #0b0c0d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 60px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}
#navBar{
    background-color: #0b0c0d;
    display: flex;
    flex-direction: column;
}

#horizontal{
    padding-left: 50px;
    padding-right: 50px;
}
#horizontal hr{
    color: gray;
}
nav{
    display: flex;
    flex-direction: row;

}
nav>div{
    margin-left: 20px;
}
nav>div>a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#title>h1{
    font-size: 27px;
    font-weight: bolder;
    font-family: 'Sen', sans-serif;
}
nav>div>a:hover{
    color: white;
    text-decoration: underline solid #ed9b58;
}
#shopcart>a:hover{
    text-decoration: underline solid #ed9b58;
}

/* New Product Display Styling */
#newProduct{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
}
#newProduct>#image3>img{
    width: 500px;
    height: 500px;
}
#backBtn>a{
    text-decoration: none;
    font-size: 18px;
    padding-left: 100px;
    color: black;
    font-weight: bold;
}
#backBtn{
    margin-top: 40px;
}
#backBtn>a:hover{
    color: #d87d4a;
    font-size: 20px;
}
#description{
    margin-left: 100px;
    padding-right: 100px;
}
#description>h4{
    color: #ed9b58;
}

/* The cart buttons */
#cartBtn{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
#quantityBtn{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    background-color: #f2f2f2;
}
#quantityBtn>h2{
    font-size: 20px;
    margin: 10px;
}
#quantityBtn>button{
    border-style: none;
    background-color: transparent;
    margin: 5px;
}
#quantityBtn>button:hover{
    border: 2px solid whitesmoke;
}
#cartBtn>#addCart{
    border-style: none;
    background-color: #d87d4a;
    color: white;
    padding: 10px;
}
#cartBtn>#addCart:hover{
    color: #0b0c0d;
}

/* Featuring div */
#features{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#paragraphs{
    width: 650px;
    margin-left: 100px;
}
#accessories{
    width: 500px;
    margin-left: 100px;
}
.items{
    display: flex;
    flex-direction: row;
}
.items>span{
    margin-right: 30px;
    font-weight: bold;
    color: #d87d4a;
}

/* gallery display */
#galleryDisplay{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 100px;
}
#userPic{
    margin-right: 50px;
}
#userPic>div>img{
    width: 450px;
    height: 250px;
    margin-top: 20px;
    border-radius: 10px;
}
#imgHp>img{
    width: 550px;
    height: 520px;
    margin-top: 20px;
    border-radius: 10px;
}

/* Product list1 */
#ymal{
    text-align: center;
    margin-top: 80px;
}
#products2{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 20px;
}
.productItem{
    margin-right: 75px;
}
.productItem>div>img{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.name>button{
    border-style: none;
    background-color: #d87d4a;
    color: white;
    width: 170px;
    height: 40px;
    margin-top: 10px;
}

/* products list2 */
#products3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.productItem2{
    background: white;
    width: 350px;
    height: 200px;
    text-align: center;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 10px;
}
.productItem2>div>img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.productItem2>h4{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
}
.shop2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    mix-blend-mode: normal;
    
}
.shop2>a{
    text-decoration: none;
    color: #0b0c0d;
}
.shop2>a:hover{
    color:  #d87d4a;
    font-size: 15px;
}

/* Styling audio gear div elements */
#audioGear2{
    width: 1090px;
    height: 300px;
    margin-left: 100px;
    margin-top: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#audioGearDetails{
    width: 535px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 130px;
    

}
#audioGearDetails>h3>span{
    color: #D87D4A;
}
#audioGearDetails>h3{
    font-size: 30px;
}
#audioGearDetails>p{
    font-size: 20px;
    margin-top: 10px;
}
#audioGearImage>img{
    width: 535px;
    height: 600px;
    border-radius: 10px;
}

/* styling footer  */
#footer{
    background-color: #0b0c0d;
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    
}
#footer1{
    display: flex;
    flex-direction: column; 
    
}

#navBar2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: white;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 30px;
}
#footNav{
    display: flex;
    flex-direction: row;
}
#footNav>div{
    margin-left: 20px;
}
#footNav>div>a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
#footNav>div>a:hover{
    text-decoration: underline solid #d87d4a ;
}

#foot2{
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
}
#foot2Para{
    width: 535px;
    color: white;
}
#socials{
    width: 535px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

}
#socials>div>img{
    background-color: white;
    margin: 10px;
}
#socials>div>img:hover{
    background-color: #d87d4a;
}

#foot3{
    padding-left: 150px;
    color: white;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 5px;
}

/* ///////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width:768px){
    nav{
        display: none;
    }

    #newProduct{
        width: 724px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        
    }
    #newProduct>#image3>img{
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }
    #newProduct>#description{
        font-size: 50%;
        margin-left: 40px;
        padding-right: 30px;
    }
    #description{
        width: 364px;
    }
    #description>p{
        font-size: 14px;
        width: 350px;
    }
    #cartBtn>button{
        font-size: 13px;
    }
    #cartBtn>#quantityBtn>button{
        font-size: 15px;
    }

    #features{
        display: flex;
        flex-direction: column;
        width: 724px;
        margin-bottom: 100px;
    }
    #paragraphs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    #paragraphs>p{
        text-align: center;
    }
    #accessories{
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 270px;
        margin-top: 20px;
    }

    #galleryDisplay{
        display: flex;
        flex-direction: column;
        width: 724px;
        margin: 0px;
    }
    #userPic{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        gap: 15px;
    }
    #userPic>div>img{
        width: 330px;
    }
    #imgHp>img{ 
        width: 675px;
        margin-left: 20px;
    }


    #products2{
        width: 724px;
        margin: 0px;
        padding-left: 10px;
    }
    .productItem{
        width: 221px;
        height: 250px;
        margin: 10px;
    }
    .productItem>div>img{
        width: 200px;
        height: 200px;
    }

    .productItem2{
        width: 221px;
        height: 200px;
    }

    #audioGear2{
        display: flex;
        flex-direction: column;
        width: 724px;
        margin-left: 0px;
        padding-left: 20px;
        margin-top: 100px;
    }
    #audioGearDetails{
        width: 650px;
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #audioGearDetails>h3{
        text-align: center;
    }
    #audioGearImage>img{
        width: 650px;
        height: 500px;
        margin-bottom: 100px;
    }

    /* Footer */
    #footer{
        margin-top: 500px;
    }
    #foot1>#navBar2{
        display: flex;
        flex-direction: column;
    }
    #footNav{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    #foot2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #foot2Para{
        text-align: center;
        width: 400px;
    }
    #foot2>#socials{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 400px;
    }
    #foot3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width:600px){
    body{
        margin: 0px;
    }
    #newProduct{
        display: flex;
        flex-direction: column;
        width: 590px;
        padding: 0px;
    }
    #newProduct>#image3>img{
        width: 550px;
        height: 500px;
        
    }

    #newProduct>#description{
        margin-left: -160px;
    }
    #newProduct>#description>h4{
        font-size: 30px;    
        letter-spacing: 5px;
        font-weight: 300;
    }
    #newProduct>#description>h1{
        font-size: 30px;
    }
    #newProduct>#description>p{
        font-size: 18px;
        width: 550px;
    }
    #quantityBtn>h2{
        font-size: 22px;
    }
    #cartBtn>#quantityBtn>button{
        font-size: 18px;
    }
    #cartBtn>#addCart{
        font-size: 15px;
    }

    #features{
        width: 590px;
    }
    #features>#paragraphs{
        width: 550px;
    }
    #features>#paragraphs>p{
        width: 550px;
        margin-left: 20px;
        font-size: 18px;
    }
    #features>#accessories{
        margin-left: 200px;
    }
    #accessories{
        width: 400px;
    }
    #accessories>.items{
        font-size: 18px;
    }

    #galleryDisplay{
        width: 590px;
        margin: 0px;
        padding: 0px;
    }
    #userPic{
        width: 550px;
        margin-right: 0px;
        margin-left: 20px;
        padding-left: 0px;
        gap: 10px;
    }
    #userPic>div>img{
        width: 270px;
        height: 250px;
    }
    #imgHp>img{
        width: 550px;
    }

    #products2{
        width: 590px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .productItem{
        width: 500px;
        height: 450px;
        margin-bottom: 100px;
    }
    .productItem>div>img{
        width: 500px;
        height: 400px;
    }
    .name>h3{
        font-size: 30px;
        margin: 10px 0px;
    }
    .name>button{
        height: 50px;
        font-size: 15px;
    }

    #products3{
        gap: 5px;
        margin-left: 20px;
    }
    .productItem2{
        margin: 0px;
    }
    .shop2>a{
        font-size: 17px;
    }

    #audioGear2{
        width: 590px;
        padding: 0px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    #audioGearDetails{
        width: 540px;
        margin-left: 20px;
    }
    #audioGearImage{
        width: 540px;
        margin-left: 20px;
    }
    #audioGearImage>img{
        width: 540px;
        margin: 0px;
    }
    #audioGearDetails>h3{
        font-size: 25px;
        margin: 10px 0px;
    }
} 