/* nav Bar */
#navBar1{
    background-color: #0b0c0d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 60px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}
#navBar{
    background-color: #0b0c0d;
    display: flex;
    flex-direction: column;
}

#horizontal{
    padding-left: 50px;
    padding-right: 50px;
}
#horizontal hr{
    color: gray;
}
nav{
    display: flex;
    flex-direction: row;

}
nav>div{
    margin-left: 20px;
}
nav>div>a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#title>h1{
    font-size: 27px;
    font-weight: bolder;
    font-family: 'Sen', sans-serif;
}
nav>div>a:hover{
    color: white;
    text-decoration: underline solid #ed9b58;
}
#shopcart>a:hover{
    text-decoration: underline solid #ed9b58;
}

/* New Product Display Styling */
#newProduct{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
}
#backBtn>a{
    text-decoration: none;
    font-size: 18px;
    padding-left: 100px;
    color: black;
    font-weight: bold;
}
#backBtn{
    margin-top: 40px;
}
#backBtn>a:hover{
    color: #d87d4a;
}
#description{
    margin-left: 100px;
    padding-right: 100px;
}
#description>h4{
    color: #ed9b58;
}

/* The cart buttons */
#cartBtn{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
#quantityBtn{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    background-color: #f2f2f2;
}
#quantityBtn>h2{
    font-size: 20px;
    margin: 10px;
}
#quantityBtn>button{
    border-style: none;
    background-color: transparent;
    margin: 5px;
}
#quantityBtn>button:hover{
    border: 2px solid whitesmoke;
}
#cartBtn>#addCart{
    border-style: none;
    background-color: #d87d4a;
    color: white;
    padding: 10px;
}
#cartBtn>#addCart:hover{
    color: #0b0c0d;
}

/* Featuring div */
#features{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#paragraphs{
    width: 650px;
    margin-left: 100px;
}
#accessories{
    width: 500px;
    margin-left: 100px;
}
.items{
    display: flex;
    flex-direction: row;
}
.items>span{
    margin-right: 30px;
    font-weight: bold;
    color: #d87d4a;
}