/* nav Bar */
#navBar1{
    background-color: #0b0c0d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 60px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}
#navBar{
    background-color: #0b0c0d;
    display: flex;
    flex-direction: column;
}

#horizontal{
    padding-left: 50px;
    padding-right: 50px;
}
#horizontal hr{
    color: gray;
}
nav{
    display: flex;
    flex-direction: row;

}
nav>div{
    margin-left: 20px;
}
nav>div>a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#title>h1{
    font-size: 27px;
    font-weight: bolder;
    font-family: 'Sen', sans-serif;
}
nav>div>a:hover{
    color: white;
    text-decoration: underline solid #ed9b58;
}
#shopcart>a:hover{
    text-decoration: underline solid #ed9b58;
}


/* landing page */
#landing{
    background-color: #0b0c0d;
    height: 600px;
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
#text{
    padding-right: 400px;
}
#text>h1{
    font-size: small;
    color: gray;
}
#text>h2{
    font-size: 50px;
}
#text>button{
    background-color: #d87d4a;
    color: white;
    border-style: none;
    height: 40px;
    width: 150px;
}
#image{
    margin-left: -300px;
    margin-top: -30px;
    
}

/* Products gallery styling */
#productsGallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.product{
    /* margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    background: white;
    width: 350px;
    height: 200px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 5px 5px 5px 5px #888888 ;
}
.product>.image>img{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}
h4{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
}
.shop{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    mix-blend-mode: normal;
    
}
/* styling the speaker Dispalay 1 */
#speakerDisplay1{
    width: 1090px;
    height: 450px;
    background-color:  #d87d4a;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    background-image: url();
}
#label{
    font-size: 60px;
    color: white;
}
#speakerDetails{
    color: white;
    width: 350px;

}
#speakerDetails>button{
    background-color: black;
    color: white;
    border-style: none;
    height: 40px;
    width: 150px;
}
#image1{
    margin-bottom: -55px;
    margin-left: -150px;
    margin-right: -50px;
}
#speakerDisplay1>svg{
    margin-left: -600px;
    margin-bottom: -330px;
    
}

/* Styling  Speaker Display 2*/
#speakerDisplay2{
    background-image: url("../SpeakerTable.png");
    width: 1090px;
    height: 280px;
    margin-top: 30px;
    margin-left: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    border-radius: 10px;
}
#speakerDisplay2>#label2{
    color: black;
    font-size: 32px;
    font-weight: 500;
}
#speakerDisplay2>button{
    margin-top: 15px;
    width: 150px;
    height: 40px;
    border: 2px solid black;
    background-color: transparent;
}

/* styling Earphones display elements */
#earphonesDisplay{
    width: 1090px;
    height: 28opx;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#earphonesDetails{
    width: 535px;
    height: 270px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 60px;
}
#earphonesDisplay>#image2>img{
    border-radius: 10px;
}
#earphonesDetails>#label3{
    font-size: 30px;
    font-weight: 500;
    
}
#earphonesDetails>button{
    width: 150px;
    height: 40px;
    margin-top: 15px;
    border: 2px solid black;
}

/* Styling audio gear div elements */
#audioGear{
    width: 1090px;
    height: 300px;
    margin-left: 100px;
    margin-top: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#audioGearDetails{
    width: 535px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 130px;
    

}
#audioGearDetails>h3>span{
    color: #D87D4A;
}
#audioGearDetails>h3{
    font-size: 30px;
}
#audioGearDetails>p{
    font-size: 20px;
    margin-top: 10px;
}
#audioGearImage>img{
    border-radius: 10px;
}

/* styling footer  */
#footer{
    background-color: #0b0c0d;
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    
}
#footer1{
    display: flex;
    flex-direction: column; 
    
}

#navBar2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: white;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 30px;
}
#footNav{
    display: flex;
    flex-direction: row;
}
#footNav>div{
    margin-left: 20px;
}
#footNav>div>a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
#footNav>div>a:hover{
    text-decoration: underline solid #d87d4a ;
}

#foot2{
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
}
#foot2Para{
    width: 535px;
    color: white;
}
#socials{
    width: 535px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

}
#socials>div>img{
    background-color: white;
    margin: 10px;
}
#socials>div>img:hover{
    background-color: #d87d4a;
}

#foot3{
    padding-left: 150px;
    color: white;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
