/* nav Bar */
#navBar1{
    background-color: #0b0c0d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 60px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}
#navBar{
    background-color: #0b0c0d;
    display: flex;
    flex-direction: column;
}

#horizontal{
    padding-left: 50px;
    padding-right: 50px;
}
#horizontal hr{
    color: gray;
}
nav{
    display: flex;
    flex-direction: row;

}
nav>div{
    margin-left: 20px;
}
nav>div>a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#title>h1{
    font-size: 27px;
    font-weight: bolder;
    font-family: 'Sen', sans-serif;
}
nav>div>a:hover{
    color: white;
    text-decoration: underline solid #ed9b58;
}
#shopcart>a:hover{
    text-decoration: underline solid #ed9b58;
}


/* landing page */
#landing{
    background-color: #0b0c0d;
    height: 600px;
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
#text{
    padding-right: 400px;
}
#text>h1{
    font-size: small;
    color: gray;
}
#text>h2{
    font-size: 50px;
}
#text>button{
    background-color: #d87d4a;
    color: white;
    border-style: none;
    height: 40px;
    width: 150px;
}
#image{
    margin-left: -300px;
    margin-top: -30px;
    
}

/* Products gallery styling */
#productsGallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.product{
    /* margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    background: white;
    width: 350px;
    height: 200px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 5px 5px 5px 5px #888888 ;
}
.product>.image>img{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}
h4{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
}
.shop{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    mix-blend-mode: normal;
    
}
/* styling the speaker Dispala */
#speakerDisplay1{
    width: 1090px;
    height: 450px;
    background-color:  #d87d4a;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    background-image: url();
}
#label{
    font-size: 60px;
    color: white;
}
#speakerDetails{
    color: white;
    width: 350px;

}
#speakerDetails>button{
    background-color: black;
    color: white;
    border-style: none;
    height: 40px;
    width: 150px;
}
#image1{
    margin-bottom: -55px;
    margin-left: -150px;
    margin-right: -50px;
}
#speakerDisplay1>svg{
    margin-left: -600px;
    margin-bottom: -330px;
    
    
}